@model IEnumerable<Entity.Concrete.Stock>
@{
    ViewData["Title"] = "ProductList";
}
<div class="container-fluid">

    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <div style="display:flex;justify-content:space-between;align-items:center">
                    <h2>
                        Məhsullar
                    </h2>
                    <div style="padding-right:30px;">
                            <a asp-action="ArchiveProducts" class="btn btn-outline-warning waves-effect ">
                                <i class="material-icons">list</i>

                            </a>
                        <a asp-action="AddProduct" class="btn bg-deep-purple waves-effect ">
                            <i class="material-icons">add</i>

                        </a>
                    </div>
                    </div>
                    <ul class="header-dropdown m-r--5">
                        <li class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <i class="material-icons">more_vert</i>
                            </a>

                        </li>
                    </ul>
                </div>
                <div class="body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
                            <thead>
                                <tr>
                                    <th>Qeydiyyat tarixi</th>
                                    <th>Qeydiyyatçı</th>
                                    <th>Məhsul</th>
                                    <th>Say</th>
                                    <th>Maya qiyməti</th>
                                    <th>Satış qiyməti</th>     
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>Qeydiyyat tarixi</th>
                                    <th>Qeydiyyatçı</th>
                                    <th>Məhsul</th>
                                    <th>Say</th>
                                    <th>Maya qiyməti</th>
                                    <th>Satış qiyməti</th>
                                </tr>
                            </tfoot>
                            <tbody>

                                @foreach (var item in Model)
                                {
                                   @if (item.ProductCount>0)
                                    {
                                        <tr>
                                            <th>@item.AddingDate.ToString("dd.MM.yyyy")</th>
                                            <td>@item.AppUser.UserName</td>
                                            <td>@item.ProductName</td>
                                            <td>@item.ProductCount</td>
                                            <td>@item.BuyingPrice.ToString("#0.##") AZN</td>
                                            <td>@item.SellingPrice.ToString("#0.##") AZN</td>

                                        </tr>
                                    }
                                       
                                    }

                                



                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>