@model IEnumerable<Entity.Concrete.BodyShapingMaster>
@{
    ViewData["Title"] = "AllLazeroloqs";
    Layout = "~/Areas/Support/Views/Shared/_SupportLayout.cshtml";
    int num = 0;
}

<div class="container-fluid">

    <!-- Exportable Table -->
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <div style="display:flex;justify-content:space-between;align-items:center">
                        <h2>
                            Bədən Şəkilləndirmə ustaları
                        </h2>
                        <div style="padding-right:30px">
                        </div>
                    </div>
                    <ul class="header-dropdown m-r--5">
                        <li class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <i class="material-icons">more_vert</i>
                            </a>

                        </li>
                    </ul>
                </div>
                <div class="body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped table-hover js-basic-example dataTable">

                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>Ustalar</th>
                                    <th>Filial</th>
                                    <th>Status</th>
                                    <th class="text-center">Əməliyyatlar</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>No</th>
                                    <th>Ustalar</th>
                                    <th>Filial</th>
                                    <th>Status</th>
                                    <th class="text-center">Əməliyyatlar</th>
                                </tr>
                            </tfoot>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@(num = num + 1)</td>
                                        <td>@item.FullName</td>
                                        <td>@item.Filial.FilialName</td>
                                        <td>
                                            @if (item.IsDeactive == false)
                                            {
                                                <b style="color:#4CAF50">Aktivdir</b>
                                            }
                                            else
                                            {
                                                <b style="color:#F44336;">Blok edilib</b>
                                            }
                                        </td>
                                        <td style="padding-top:17px" class="text-center">
                                            @if (item.IsDeactive == false)
                                            {
                                                <a asp-controller="Personal" asp-action="BodyShapingMasterOFF" asp-route-BodyShapingMasterId="@item.Id" class="btn bg-red waves-effect">
                                                    <i class="material-icons">block</i>
                                                </a>
                                            }
                                            else
                                            {
                                                <a asp-controller="Personal" asp-action="BodyShapingMasterOFF" asp-route-BodyShapingMasterId="@item.Id" class="btn bg-green waves-effect">
                                                    <i class="material-icons">build</i>
                                                </a>
                                            }

                                            <a asp-controller="Personal" asp-action="EditBodyShapingMaster" asp-route-BodyShapingMasterId="@item.Id" class="btn btn-primary">
                                                <i class="material-icons">edit</i>
                                            </a>
                                            <a asp-controller="Personal" asp-action="BodyShapingPacketList" asp-route-BodyShapingMasterId="@item.Id" class="btn bg-blue-grey">
                                                <i class="material-icons">list</i>
                                            </a>

                                        </td>

                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>