@model DTO.DTOS.ReportDTO.SelectFilterDTO
@{
    ViewData["Title"] = "FilterLipuckaReports";
    Layout = "~/Areas/ArzumEstetic/Views/Shared/_ArzumEsteticLayout.cshtml";
}

<div class="container-fluid">
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <div style="display:flex;justify-content:space-between;align-items:center">
                        <h2>Bədən şəkilləndirmə Hesabat</h2>
                    </div>
                </div>

                <div class="body">
                    <div class="row clearfix">
                        <div class="col-xs-3">
                            <h2 class="card-inside-title">Başlanğıc tarix</h2>
                            <div class="form-group">
                                <div class="form-line" id="bs_datepicker_container">
                                    <input type="datetime-local" class="form-control" placeholder="Please choose a date..." id="startDate">
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <h2 class="card-inside-title">Son tarix</h2>
                            <div class="input-group date" id="bs_datepicker_component_container">
                                <div class="form-line">
                                    <input type="datetime-local" class="form-control" placeholder="Please choose a date..." id="endDate">
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <h2 class="card-inside-title">Bədən şəkilləndirmə ustası</h2>
                            <div class="form-group">
                                <select class="form-control show-tick" id="bodyShapingMasterId">
                                    <option value="all" selected>Hamısı</option>
                                    @foreach (var item in Model.BodyShapingMaster)
                                    {                       
                                        
                                          <option value="@item.Id">@item.FullName</option>

                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <h2 class="card-inside-title">Paketlər</h2>
                            <div class="form-group">
                                <div>
                                    <select class="form-control show-tick" id="childCategoryId" multiple>
                                        <option value="all" selected>Hamısı</option>
                                        @foreach (var item in Model.BodyShapingPacketCategories)
                                        {
                                            <option value="@item.Id"> @item.Packet  @item.SessionCount Seans @item.SessionDuration dəqiqə</option>

                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="row container-fluid">
                            <div class="col-lg-6">
                                <label for="email_address_2">Ümumi gəlir</label>
                                <div class="form-group">
                                    <div class="form-line">
                                        <input type="text" class="form-control" id="sessionEarning" readonly>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <label for="email_address_2">Alınan paket sayı</label>
                                <div class="form-group">
                                    <div class="form-line">
                                        <input type="text" class="form-control" id="sessionCount" readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="text-center">

                                <button id="calculateButton" class="btn btn-primary">Hesabla</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid" id="bodyShapingTable">

</div>

<script>
    $(document).ready(function () {
        $("#calculateButton").on("click", function () {
            var startDate = $("#startDate").val();
            var endDate = $("#endDate").val();
            var bodyhapingMasterId = $("#bodyShapingMasterId").val();
            var categoryId = $("#childCategoryId").val();

            $.ajax({
                url: "/ArzumEstetic/Reports/CalculateBodyShapingReports",
                type: "POST",
                data: { startDate: startDate, endDate: endDate, bodyhapingMasterId: bodyhapingMasterId, categoryId: categoryId },
                success: function (response) {

                    if (categoryId == 'all' && bodyhapingMasterId == 'all') {

                        $("#sessionEarning").val(response.totalEarning + " " + "AZN");
                        $("#sessionCount").val(response.totalSession + " " + "Seans");
                    }
                    else if (categoryId == 'all' && bodyhapingMasterId != 'all')
                    {
                        $("#sessionEarning").val(response.masterShapingEarning + " " + "AZN");
                        $("#sessionCount").val(response.masterShapingSession + " " + "Seans");
                    }
                    else if (categoryId != 'all' && bodyhapingMasterId == 'all') 
                    {
                        $("#sessionEarning").val(response.categoryEarning + " " + "AZN");
                        $("#sessionCount").val(response.categorySession + " " + "Seans");
                    }
                    else {
                        $("#sessionEarning").val(response.allFilterEarning + " " + "AZN");
                        $("#sessionCount").val(response.allFilterSession + " " + "Seans");
                    }

                },
                error: function () {
                    Swal.fire(
                        'Xəbərdarlıq!',
                        'Tarixləri düzgün qeyd edin!',
                        'warning'
                    )
                }
            });
            if (categoryId == 'all' && bodyhapingMasterId == 'all') {


                $.ajax({

                    url: "/ArzumEstetic/Reports/SelectAllBodyShapingReports",
                    type: "POST",
                    data: { startDate: startDate, endDate: endDate, },
                    success: function (result) {

                        $("#bodyShapingTable").html(result);


                    },
                    error: function () {

                    }
                });
            }
            else if (categoryId == 'all' && bodyhapingMasterId != 'all') {
                $.ajax({

                    url: "/ArzumEstetic/Reports/SelectBodyShapingMasterReports",
                    type: "POST",
                    data: { startDate: startDate, endDate: endDate, bodyhapingMasterId: bodyhapingMasterId },
                    success: function (result) {

                        $("#bodyShapingTable").html(result);


                    },
                    error: function () {

                    }
                });
            }
            else if (categoryId != 'all' && bodyhapingMasterId == 'all') {
                $.ajax({

                    url: "/ArzumEstetic/Reports/SelectBodyShapingCategoryReports",
                    type: "POST",
                    data: { startDate: startDate, endDate: endDate, categoryId: categoryId },
                    success: function (result) {

                        $("#bodyShapingTable").html(result);


                    },
                    error: function () {

                    }
                });
            }
            else {
                $.ajax({
                    url: "/ArzumEstetic/Reports/SelectBodyShapingReportsWithAllFilter",
                    type: "POST",
                    data: { startDate: startDate, endDate: endDate, bodyhapingMasterId: bodyhapingMasterId, categoryId: categoryId },
                    success: function (result) {

                        $("#bodyShapingTable").html(result);


                    },
                    error: function () {

                    }
                });
            };


        });

    });
</script>
