@model DTO.DTOS.ReportDTO.SelectFilterDTO
@{
    ViewData["Title"] = "FilterPirsinqReports";
    Layout = "~/Areas/ArzumEstetic/Views/Shared/_ArzumEsteticLayout.cshtml";
}

<div class="container-fluid">
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <div style="display:flex;justify-content:space-between;align-items:center">
                        <h2>Pirsinq Hesabat</h2>
                    </div>
                </div>

                <div class="body">
                    <div class="row clearfix">
                        <div class="col-xs-3">
                            <h2 class="card-inside-title">Başlanğıc tarix</h2>
                            <div class="form-group">
                                <div class="form-line" id="bs_datepicker_container">
                                    <input type="datetime-local" class="form-control" placeholder="Please choose a date..." id="startDate">
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <h2 class="card-inside-title">Son tarix</h2>
                            <div class="input-group date" id="bs_datepicker_component_container">
                                <div class="form-line">
                                    <input type="datetime-local" class="form-control" placeholder="Please choose a date..." id="endDate">
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <h2 class="card-inside-title">Lazer Ustası</h2>
                            <div class="form-group">
                                <select class="form-control show-tick" id="pirsinqMasterId" data-live-search="true">
                                    <option value="all" selected style="margin-left:30px">Hamısı</option>
                                    @foreach (var item in Model.LazerMasters)
                                    {
                                        foreach (var filial in item.LazerMasterFilial)
                                        {
                                            if (filial.FilialId == 3)
                                            {
                                                <option style="margin-left:30px" value="@filial.LazerMasterId">@item.FullName</option>
                                            }

                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <h2 class="card-inside-title">Kategoriyalar</h2>
                            <div class="form-group">
                                <div>
                                    <select class="form-control show-tick" id="childCategoryId" multiple data-live-search="true">
                                        <option value="all" style="margin-top:20px"  selected>Hamısı</option>
                                        @foreach (var item in Model.PirsinqCategory)
                                        {

                                            <option style="margin-top:20px" value="@item.Id">@item.CategoryName @item.MainCategory.CategoryName</option>


                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="row container-fluid">
                            <div class="col-lg-6">
                                <label for="email_address_2">Ümumi gəlir</label>
                                <div class="form-group">
                                    <div class="form-line">
                                        <input type="text" class="form-control" id="pirsinqEarning" readonly>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <label for="email_address_2">Seans sayı</label>
                                <div class="form-group">
                                    <div class="form-line">
                                        <input type="text" class="form-control" id="sessionCount" readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="text-center">

                                <button id="calculateButton" class="btn btn-primary">Hesabla</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid" id="pirsinqTable"></div>

<script>
    $(document).ready(function () {
        $("#calculateButton").on("click", function () {
            var startDate = $("#startDate").val();
            var endDate = $("#endDate").val();
            var pirsinqMasterId = $("#pirsinqMasterId").val();
            var categoryId = $("#childCategoryId").val();

            $.ajax({
                url: "/ArzumEstetic/Reports/CalculatePirsinqReports",
                type: "POST",
                data: { startDate: startDate, endDate: endDate, pirsinqMasterId: pirsinqMasterId, categoryId: categoryId },
                success: function (response) {

                    if (categoryId == 'all' && pirsinqMasterId == 'all') {

                        $("#pirsinqEarning").val(response.totalEarning + " " + "AZN");

                        $("#sessionCount").val(response.totalSession + " " + "Seans");

                    }
                    else if (categoryId == 'all' && pirsinqMasterId != 'all') {

                        $("#pirsinqEarning").val(response.masterPirsinqEarning + " " + "AZN");
                        $("#sessionCount").val(response.masterPirsinqSession + " " + "Seans");
                    }
                    else if (categoryId != 'all' && pirsinqMasterId == 'all') {

                        $("#pirsinqEarning").val(response.categoryEarning + " " + "AZN");
                        $("#sessionCount").val(response.categorySession + " " + "Seans");
                    }
                    else {
                        $("#pirsinqEarning").val(response.allFilterEarning + " " + "AZN");
                        $("#sessionCount").val(response.allFilterSession + " " + "Seans");
                    }

                },
                error: function () {
                    Swal.fire(
                        'Xəbərdarlıq!',
                        'Tarixləri düzgün qeyd edin!',
                        'warning'
                    )
                }
            });
            if (categoryId == 'all' && pirsinqMasterId == 'all') {


                $.ajax({

                    url: "/ArzumEstetic/Reports/SelectAllPirsinqReports",
                    type: "POST",
                    data: { startDate: startDate, endDate: endDate, },
                    success: function (result) {

                        $("#pirsinqTable").html(result);


                    },
                    error: function () {

                    }
                });
            }
            else if (categoryId == 'all' && pirsinqMasterId != 'all') {
                $.ajax({

                    url: "/ArzumEstetic/Reports/SelectPirsinqMasterReports",
                    type: "POST",
                    data: { startDate: startDate, endDate: endDate, pirsinqMasterId: pirsinqMasterId },
                    success: function (result) {

                        $("#pirsinqTable").html(result);


                    },
                    error: function () {

                    }
                });
            }
            else if (categoryId != 'all' && pirsinqMasterId == 'all') {
                $.ajax({

                    url: "/ArzumEstetic/Reports/SelectPirsinqCategoryReports",
                    type: "POST",
                    data: { startDate: startDate, endDate: endDate, categoryId: categoryId },
                    success: function (result) {

                        $("#pirsinqTable").html(result);


                    },
                    error: function () {

                    }
                });
            }
            else {
                $.ajax({
                    url: "/ArzumEstetic/Reports/SelectPirsinqReportsWithAllFilter",
                    type: "POST",
                    data: { startDate: startDate, endDate: endDate, pirsinqMasterId: pirsinqMasterId, categoryId: categoryId },
                    success: function (result) {

                        $("#pirsinqTable").html(result);


                    },
                    error: function () {

                    }
                });
            };


        });

    });
</script>


