@model IEnumerable<Entity.Concrete.LazerAppointment>
@{
    ViewData["Title"] = "KorreksionDateList";
    Layout = "~/Areas/ArzumBeauty/Views/Shared/_ArzumBeautyLayout.cshtml";
}

<div class="container-fluid">

    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>
                       Növbəti Seans
                    </h2>
                    <ul class="header-dropdown m-r--5">
                        <li class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <i class="material-icons">more_vert</i>
                            </a>

                        </li>
                    </ul>
                </div>
                <div class="body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
                            <thead>
                                <tr>
                                   
                                    <th>Ad və Soyad</th>
                                    <th>Telefon</th>
                                    <th>Nahiyələr</th>
                                    <th>Lazeroloq</th>
                                    <th>Əməliyyatlar</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>Ad və Soyad</th>
                                    <th>Telefon</th>
                                    <th>Nahiyələr</th>
                                    <th>Lazeroloq</th>
                                    <th>Əməliyyatlar</th>
                                </tr>
                            </tfoot>
                            <tbody>

                                @foreach (var item in Model)
                                { 
                                    <tr>
                                         
                                            <td>@item.Customers.FullName</td>
                                            <td>@item.Customers.PhoneNumber.ToString("0000000000")</td>
                                            <td style="display:flex">
                                                @foreach (var categories in item.LazerAppointmentReports)
                                                {
                                                    if (categories.LazerCategory.MainCategoryId != null)
                                                    {
                                                        <div style="padding:2px">@categories.LazerCategory.Name,</div>
                                                    }
                                                }
                                            </td>
                                        <td>@item.LazerMaster.FullName</td>
                                            <td style="padding-top:17px" class="text-center">
                                                <div>
                                                <a asp-action="AddLazerAppointment" asp-route-LazerMasterId="@item.LazerMasterId" asp-route-CustomerId="@item.CustomerId" class="btn bg-deep-purple waves-effect ">
                                                   Seans əlavə et
                                                </a>
                                                                                         
                                                </div>
                                            </td>
                                        </tr>                               
                                    }


                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>

