@model DTO.DTOS.ReportDTO.DailyReportDTO
<div class="row clearfix">
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="info-box bg-pink hover-expand-effect">
            <div class="icon">
                <i class="material-icons">payments</i>
            </div>
            <div class="content">
                <div class="text">Kassa</div>
                <div class="number count-to" data-from="0" data-to="125" data-speed="15" data-fresh-interval="20">@Model.Budget.ToString("0.##") AZN</div>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="info-box bg-orange hover-expand-effect">
            <div class="icon">
                <i class="material-icons">bolt</i>
            </div>
            <div class="content">
                <div class="text">Lazer epilyasiyası</div>
                <div class="number count-to" data-from="0" data-to="1225" data-speed="1000" data-fresh-interval="20">@Model.DailyLazerEarning.ToString("0.##") AZN</div>
            </div>
        </div>
    </div>
 
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="info-box bg-purple hover-expand-effect">
            <div class="icon">
                <i class="material-icons">water_drop</i>
            </div>
            <div class="content">
                <div class="text">Lipuçka</div>
                <div class="number count-to" data-from="0" data-to="257" data-speed="1000" data-fresh-interval="20">@Model.LipuckaEarning.ToString("0.##") AZN</div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="info-box bg-red hover-expand-effect">
            <div class="icon">
                <i class="material-icons">money_off</i>
            </div>
            <div class="content">
                <div class="text">Xərclər</div>
                <div class="number count-to" data-from="0" data-to="243" data-speed="1000" data-fresh-interval="20">@Model.Spending.ToString("0.##") AZN</div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="info-box bg-amber hover-expand-effect">
            <div class="icon">
                <i class="material-icons">my_location</i>
            </div>
            <div class="content">
                <div class="text">İmpuls</div>
                <div class="number count-to" data-from="0" data-to="257" data-speed="1000" data-fresh-interval="20">@Model.ImplusCount</div>
            </div>
        </div>
    </div>
  


    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="info-box bg-cyan hover-expand-effect">
            <div class="icon">
                <i class="material-icons">hearing</i>
            </div>
            <div class="content">
                <div class="text">Pirsinq</div>
                <div class="number count-to" data-from="0" data-to="257" data-speed="1000" data-fresh-interval="20">@Model.PirsinqEarning.ToString("0.##") AZN</div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="info-box bg-light-green hover-expand-effect">
            <div class="icon">
                <i class="material-icons">done_all</i>
            </div>
            <div class="content">
                <div class="text">Mənfəət</div>
                <div class="number count-to" data-from="0" data-to="257" data-speed="1000" data-fresh-interval="20">@Model.TotalEarning.ToString("0.##") AZN</div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="info-box bg-blue-grey hover-expand-effect">
            <div class="icon">
                <i class="material-icons">shopping_bag</i>
            </div>
            <div class="content">
                <div class="text">Satış</div>
                <div class="number count-to" data-from="0" data-to="257" data-speed="1000" data-fresh-interval="20">@Model.ShopingEarning.ToString("0.##") AZN</div>
            </div>
        </div>
    </div>

   
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="info-box bg-blue hover-expand-effect">
            <div class="icon">
                <i class="material-icons">currency_exchange</i>
            </div>
            <div class="content">
                <div class="text">Məxaric</div>
                <div class="number count-to" data-from="0" data-to="257" data-speed="1000" data-fresh-interval="20">@Model.OutMoneyFromKassa.ToString("0.##") AZN</div>
            </div>
        </div>
    </div>

</div>



<div class="container-fluid">
   
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <div style="display:flex;justify-content:center;align-items:center">
                        <h2>Filter ilə Hesabat</h2>
                    </div>
                </div>  
                            <div class="body">
                                <div class="row clearfix">
                                    <div class="col-xs-6">
                                        <h2 class="card-inside-title">Başlanğıc tarix</h2>
                                        <div class="form-group">
                                            <div class="form-line" id="bs_datepicker_container">
                                                <input type="datetime-local" class="form-control" placeholder="Please choose a date..." id="startDate">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        <h2 class="card-inside-title">Son tarix</h2>
                                        <div class="input-group date" id="bs_datepicker_component_container">
                                            <div class="form-line">
                                                <input type="datetime-local" class="form-control" placeholder="Please choose a date..." id="endDate">
                                            </div>
                                        </div>
                                    </div>
                                  
                                </div>
                                <div class="row container-fluid">    
                                    <div class="col-lg-4 ">
                                        <label for="email_address_2">Lazer Epilyasiya</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                        <input type="text" class="form-control"  id="lazerEarning" readonly>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <label for="email_address_2">Pirsinq</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                        <input type="text" class="form-control"  id="pirsinqEarning" readonly>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <label for="email_address_2">Lipuçka</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                        <input type="text" class="form-control"  id="lipuckaEarning" readonly>
                                            </div>
                                        </div>
                                    </div>
                            <div class="col-lg-4 ">
                                <label for="email_address_2">Satışdan gələn gəlir</label>
                                <div class="form-group">
                                    <div class="form-line">
                                        <input type="text" class="form-control" id="incomeMoney" readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <label for="email_address_2">Xərclənən pul</label>
                                <div class="form-group">
                                    <div class="form-line">
                                        <input type="text" class="form-control" id="outMoney" readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <label for="email_address_2">İşlədilən impuls</label>
                                <div class="form-group">
                                    <div class="form-line">
                                    <input type="text" class="form-control" id="totalImpuls" readonly>
                                    </div>
                                </div>
                            </div>
                     
                        </div>

                    <div class="row container-fluid">
                        <div class="col-lg-4">
                        </div>
                        <div class="col-lg-4">
                            <label for="email_address_2">Ümumi  gəlir</label>
                            <div class="form-group">
                                <h1 class="form-line">
                                    <input type="text" style="font-size:30px" class="form-control" id="totalEarning" readonly>
                                </h1>
                            </div>
                        </div>
                        <div class="col-lg-4">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">

                            <button id="calculateButton" style="margin-left:450px" class="btn btn-primary">Hesabla</button>
                        </div>
                    </div>
                                </div>
                                  
                             
                            </div>
            </div>
        </div>           
  
    </div>                   

<div id="resultForMaster1"></div>
 
<script src="~/js/pages/tables/jquery-datatable.js"></script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    $(document).ready(function () {
        $("#calculateButton").on("click", function () {
            var startDate = $("#startDate").val();
            var endDate = $("#endDate").val();
            console.log(startDate);
            console.log(endDate);
            $.ajax({
                url: "/ArzumMini/Kassa/CalculateForArzumMiniPrice",
                type: "POST",
                data: { startDate: startDate, endDate: endDate,},
                success: function (response) {
                    $("#lazerEarning").val(response.lazerEarning + " " + "AZN");
                    $("#pirsinqEarning").val(response.pirsinqEarning + " " + "AZN");
                    $("#lipuckaEarning").val(response.lipuckaEarning + " " + "AZN");
                    $("#incomeMoney").val(response.incomeMoney + " " + "AZN");
                    $("#outMoney").val(response.outMoney + " " + "AZN");
                    $("#totalImpuls").val(response.impulsCount);
                    $("#totalEarning").val(response.totalEarning + " " + "AZN");
                },
                error: function () {
                    Swal.fire(
                        'Xəbərdarlıq!',
                        'Tarixləri düzgün qeyd edin!',
                        'warning'
                    )
                }
            });
        });
        // $("#calculateButton").on("click", function () {
        //     var startDate = $("#startDate").val();
        //     var endDate = $("#endDate").val();
        //     $.ajax({
        //         url: "/Reports/SelectMasterInfo1",
        //         type: "POST",
        //         data: { startDate: startDate, endDate: endDate },
        //         success: function (result) {

        //             $("#resultForMaster1").html(result);


        //         },
        //         error: function () {

        //         }
        //     });
        // });
        // $("#calculateButton").on("click", function () {
        //     var startDate = $("#startDate").val();
        //     var endDate = $("#endDate").val();
        //     $.ajax({
        //         url: "/Reports/SelectMasterInfo2",
        //         type: "POST",
        //         data: { startDate: startDate, endDate: endDate },
        //         success: function (result) {

        //             $("#resultForMaster2").html(result);


        //         },
        //         error: function () {

        //         }
        //     });
        // });
    });
</script>
