@model IEnumerable<Entity.Concrete.LazerAppointment>

@{
    ViewData["Title"] = "Bütün rezervasiyalar";

}
<div class="container-fluid">

    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>
                        Bütün Rezervasiyalar
                    </h2>
                    <ul class="header-dropdown m-r--5">
                        <li class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <i class="material-icons">more_vert</i>
                            </a>

                        </li>
                    </ul>
                </div>
                <div class="body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped table-hover js-basic-example dataTable dataTable">
                            <thead>
                                <tr>
                                    <th>Tarix</th>
                                    <th>Ad və Soyad</th>
                                    <th>Telefon nömrəsi</th>
                                    <th>Lazeroloq</th>
                                    <th>Nahiyələr</th>
                                    <th>Giriş saatı</th>
                                    <th>Çıxış saatı</th>
                                    <th>Ödəniş</th>
                                    <th>Status</th>
                                    <th>Əməliyyatlar</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>Tarix</th>
                                    <th>Ad və Soyad</th>
                                    <th>Telefon nömrəsi</th>
                                    <th>Lazeroloq</th>
                                    <th>Nahiyələr</th>
                                    <th>Giriş saatı</th>
                                    <th>Çıxış saatı</th>
                                    <th>Ödəniş</th>
                                    <th>Status</th>
                                    <th>Əməliyyatlar</th>
                                </tr>
                            </tfoot>
                            <tbody>

                                @foreach (var item in Model)
                                {
                                    if(item.IsCompleted==false && item.IsDeleted==false)
                                    {
                                        <tr>
                                            <th>@item.ReservationDate.ToString("dd.MM.yyyy")</th>
                                            <td>@item.Customers.FullName</td>
                                            <td>@item.Customers.PhoneNumber</td>
                                            <td>@item.LazerMaster.FullName</td>
                                            <td style="display:flex">
                                                @foreach (var categories in item.LazerAppointmentReports)
                                                {
                                                    if (categories.LazerCategory.MainCategoryId != null)
                                                    {
                                                        <div style="padding:2px">@categories.LazerCategory.Name,</div>
                                                    }
                                                }
                                            </td>
                                            <td>
                                                @if (item.StartTime == null)
                                                {
                                                    @item.ReservationDate.ToString("HH:mm")
                                                }
                                                else
                                                {
                                                    @item.StartTime.Value.ToString("HH:mm")
                                                }
                                            </td>
                                            <td>
                                                @if (item.EndTime == null)
                                                {
                                                    <div>Bitməyib</div>
                                                }
                                                else
                                                {
                                                    @item.EndTime.Value.ToString("HH:mm")
                                                }
                                            </td>
                                            <td>@item.Price.ToString("#0.##") AZN</td>

                                            <td>
                                                @if(item.IsStart == false)
                                                {
                                                    <h5 class="btn btn-success">Rezervasiya</h5>
                                                }
                                                else
                                                {
                                                    <h5 class="btn btn-primary">Seans başladı</h5>
                                                }
                                            </td>

                                            <td style="padding-top:17px" class="text-center">
                                                @if (item.IsStart == false)
                                                {
                                                    <a asp-controller="LazerAppointment" asp-action="UpdateReservationTime" asp-route-AppointmentId="@item.Id" class="btn bg-orange waves-effect">
                                                        <i class="material-icons">timer</i>
                                                    </a>
                                                    <a asp-controller="LazerAppointment" asp-action="UpdateReservationStatus" asp-route-AppointmentId="@item.Id" class="btn bg-green waves-effect">
                                                        <i class="material-icons">directions_run</i>
                                                    </a>
                                                }
                                                else
                                                {
                                                    <a asp-controller="LazerAppointment" asp-action="CompletedReservationStatus" asp-route-AppointmentId="@item.Id" class="btn btn-primary">
                                                        <i class="material-icons">hourglass_empty</i>
                                                    </a>
                                                    <a asp-controller="LazerAppointment" asp-action="UpdatePrice" asp-route-LazerId="@item.Id" class="btn bg-indigo">
                                                        <i class="material-icons">payment</i>
                                                    </a>
                                                }
                                            </td>
                                        </tr>
                                    }

                                }



                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>

