@model IEnumerable<Entity.Concrete.LazerAppointment>
@{
    ViewData["Title"] = "KorreksionDateList";
}

<div class="container-fluid">

    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>
                        Bədən ardı
                    </h2>
                    <ul class="header-dropdown m-r--5">
                        <li class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <i class="material-icons">more_vert</i>
                            </a>

                        </li>
                    </ul>
                </div>
                <div class="body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
                            <thead>
                                <tr>
                                    <th>Tarix</th>
                                    <th>Ad  Soyad</th>
                                    <th>Telefon nömrəsi</th>
                                    <th>Nahiyələr</th>
                                    <th>Lazeroloq</th>
                                    <th>Giriş saatı</th>
                                    <th>Çıxış saatı</th>
                                    <th>Qüvvədən düşməsinə qalan müddət</th>
                                   
                                    <th>Əməliyyatlar</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>Tarix</th>
                                    <th>Ad  Soyad</th>
                                    <th>Telefon nömrəsi</th>
                                    <th>Nahiyələr</th>
                                    <th>Lazeroloq</th>
                                    <th>Giriş saatı</th>
                                    <th>Çıxış saatı</th>
                                    <th>Qüvvədən düşməsinə qalan müddət</th>
                                   
                                    <th>Əməliyyatlar</th>
                                </tr>
                            </tfoot>
                            <tbody>

                                @foreach (var item in Model)
                                {
                                 
                                        <tr>
                                            <td>
                                                @if (item.InCompleteStartTime==null)
                                                {
                                                    <div>Seans tarixi təyin edilməyib!</div>
                                                }
                                                else
                                                {
                                                    <div>  @item.InCompleteStartTime.Value.ToString("dd.MM.yyyy")</div>
                                                }
                                            </td>
                                            <td>@item.Customers.FullName</td>
                                            <td>@item.Customers.PhoneNumber.ToString("0000000000")</td>
                                            <td style="display:flex">
                                                @foreach (var categories in item.LazerAppointmentReports)
                                                {
                                                    if (categories.LazerCategory.MainCategoryId != null)
                                                    {
                                                        <div style="padding:2px">@categories.LazerCategory.Name,</div>
                                                    }
                                                }
                                            </td>
                                            <td>@item.LazerMaster.FullName</td>
                                              <td>
                                                @if (item.InCompleteStartTime==null)
                                                {
                                                    <div>Seans başlamayıb!</div>
                                                }
                                                else
                                                {
                                                    <div>  @item.InCompleteStartTime.Value.ToString("HH:mm")</div>
                                                }
                                                </td>
                                                <td>
                                                    @if (item.EndForSecond == false)
                                                    {
                                                    <div>Seans başlamayıb!</div>
                                                    }
                                                    else
                                                    {
                                                    <div>@item.InCompleteEndTime.Value.ToString("HH:mm")</div>
                                                    }

                                            </td>
                                            <td>
                                                @{
                                                    TimeSpan kalanSure = item.EndTime.Value.AddHours(168) - DateTime.Now;
                                                    string kalanSureMetni = string.Format("{0} gün {1} saat {2} dəqiqə", (int)kalanSure.TotalDays, kalanSure.Hours,kalanSure.Minutes);
                                                }
                                            @if (kalanSure.TotalMinutes >= 0)
                                            {
                                                <span class="geriSayim">@kalanSureMetni</span>
                                            }
                                            else
                                            {
                                                <span class="geriSayimBitmis" style="color:red">Vaxt bitib!</span>
                                            }
                                        </td>

                                            <td style="padding-top:17px;display:flex" class="text-center">
                                                
                                                @if (kalanSure.TotalMinutes >= 0)
                                                {

                                                    @if (item.StartForSecond == false)
                                                    {
                                                       
                                                            <a asp-action="CompletelySecondSessionStart" asp-route-AppointmentId="@item.Id" class="btn bg-deep-purple waves-effect" style="margin:2px">
                                                                Əlavə et
                                                            </a>

                                                            <a asp-action="SessionTime" asp-route-AppointmentId="@item.Id" class="btn bg-green waves-effect" style="margin:2px">
                                                                <i class="material-icons">timer</i>
                                                            </a>
                                                      

                                                    }
                                                    else
                                                    {
                                                        <div>
                                                            <a asp-action="CompletelySecondSessionEnd" asp-route-AppointmentId="@item.Id" class="btn bg-primary waves-effect ">
                                                                Seansı bitir
                                                            </a>
                                                        </div>
                                                    }

                                                }
                                                else
                                                {
                                                    <a asp-controller="LazerAppointment" asp-action="DeleteSessionFromIncompleteList" asp-route-AppointmentId="@item.Id" class="btn bg-red waves-effect ">
                                                        Sil
                                                    </a>
                                                }
                                             
                                               
                                            </td>
                                               
                                          

                                         
                                        </tr>
                                    
                                  

                                    }
                               


                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
@* <script>
    $(document).ready(function () {
        $('.geriSayim').each(function () {
            var kalanSureMetni = $(this).data('kalanSureMetni');
            var countDownDate = new Date().getTime() + (kalanSureMetni * 1000); // Süreyi milisaniyeye çevirin

            var element = $(this);

            var x = setInterval(function () {
                var now = new Date().getTime();
                var distance = countDownDate - now;

                var days = Math.floor(distance / (1000 * 60 * 60 * 24));
                var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                var seconds = Math.floor((distance % (1000 * 60)) / 1000);

                element.text(days + " gün " + hours + " saat " + minutes + " dəqiqə " + seconds + " saniyə ");
                console.log(days + " gün " + hours + " saat " + minutes + " dəqiqə " + seconds + " saniyə ");
                if (distance < 0) {
                    clearInterval(x);
                    element.text("Süre doldu");
                }
            }, 1000);
        });
    });
</script>
 *@
